body{
    font-family: sans-serif;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

a {
    text-decoration: none;
}

a, .hsectxt {
    font-size: 18px;
    color: #e5e7eb;
}

.hsectxt{
    margin : 0;
    width: 426px;
    margin-bottom: 12px;

}

.hmaintxt {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
    margin-bottom: 8px;
}

header {
    background: #1f2937;
    padding: 0 80px 80px;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content {
    display: flex;
    justify-content: space-between;
   
}

.signup {
    background: #3882f6;
    color: #f9faf8;
    border: 0;
    font-weight: bold;
    padding: 8px 32px;
    border-radius: 6px;
    font-size: 1em;
}

.hero_left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.hero-img {
    max-height: 350px;
}