body{
    font-family: sans-serif;
}

button {
    cursor: pointer;
}
/* Style for the header section */

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

a {
    text-decoration: none;
}

a, .hsectxt {
    font-size: 18px;
    color: #e5e7eb;
}

.hsectxt{
    margin : 0;
    width: 426px;
    margin-bottom: 12px;

}

.hmaintxt {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin: 0;
    margin-bottom: 8px;
}

header {
    background: #1f2937;
    padding: 0 80px 80px;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content {
    display: flex;
    justify-content: space-between;
   
}

.signup {
    background: #3882f6;
    color: #f9faf8;
    border: 0;
    font-weight: bold;
    padding: 8px 32px;
    border-radius: 6px;
    font-size: 1em;
}

.hero_left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.hero-img {
    max-height: 350px;
}

/* Style for the information section */

#info-header {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 800;
}

.info-img img {
    height: 200px;
    width: 200px;
    border: 2px solid #3882f6;
    border-radius: 12px;
    /* margin: 0; */
}

.info-img {
    /* margin: 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.img-caption {
    font-size: 16px;
    width: 200px;
    text-align: center;
}

#info-images {
    display: flex;
    justify-content: center;
    gap: 2px;
}

/* Style for quote section */

#quote-section {
    background: #e5e7eb;
    padding: 100px 250px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: 100;
}

.quote-author {
    text-align: right;
    font-size: 20px;
    font-weight: bold;
}

/* Style for Call to action */

#call_action {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #3882f6;
    margin: 100px 200px;
    border-radius: 10px;
}

.action-head, .action-text {
    color: #f9faf8;
}

#call_action button {
   background: #3882f6;
   color: #f9faf8;
   border-color: #f9faf8;
   border: solid 1px;
   border-radius: 4px;
   padding: 5px 20px;
   font-weight: bold;
}

/* Footer */

footer {
    text-align: center;
    background: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    padding: 25px;
}